
body {
    font-family: "Poppins", sans-serif;
    margin: 50px 50px 0 50px;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
}

.main {
    flex: 1;
}

.logo {
    width: 300px;
}

h1 {
    font-size: 5rem;
}

.tile-image {
    height: 200px;
    float: left;
    margin-right: 30px;
    border-radius: 20px;
}

.card {
    width: 45%;
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px #ff4d6d
}

.left {
    float: left;
}

.right {
    float: right;
}

footer {
  text-align: right;
  color: #F57799;
}

@media (max-width: 620px) {
    .logo {
        width: 200px;
        height: 35px;
    }

    h1 {
        text-align: center;
        font-size: 2.5rem;
    }

    .card {
        width: 95%;
        display: block;
        margin-bottom: 30px;
        text-align: justify;
    }

    .tile-image {
        width: 100%;
        margin-bottom: 10px;
        display: inline;
    }

    .right {
        float: left;
    }
    
}